{{ partial "head.html" . }}
<body id="{{ if eq .Type "page" }}page{{ else }}post{{ end }}" class="feature">
{{ partial "navigation.html" . }}
<div class="entry-header">
{{ $imageparams := index ($.Scratch.Get "Params") "image" }}
  {{ if .Params.thumbnail }}
    <div class="entry-image">
      <img src="{{ .Params.thumbnail | relURL }}" alt="{{ .Title }}">
    </div><!-- /.entry-image -->
  {{ end }}

</div><!-- /.entry-header -->

<div id="main" role="main">
  <article class="hentry">
    <header class="header-title">
      <div class="header-title-wrap">
        {{ if .Params.link }}
          <h1 class="entry-title"><i class="fa fa-bookmark permalink"></i> <a href="{{ .Params.link }}">{{ .Title }}</a></h1>
        {{ else }}
          <h1 class="entry-title"><a href="{{ .RelPermalink }}" rel="bookmark" title="{{ .Title }}">{{ .Title }}</a></h1>
        {{ end }}
        {{ if and (ne .Type "page") (gt .Date 0001) }} <!-- If Date is set (greater than year 0001) -->
        <h2><span class="entry-date date published"><time datetime="{{ .Date }}">{{ .Date.Format "2006-01-02" }}</time></span></h2>
        {{ end }}
      <p class="entry-reading-time">
        <i class="fa fa-clock-o"></i>
        Lecture ~{{ if le .ReadingTime 1 }}1 minute{{ else }}{{ .ReadingTime }} minutes{{ end }}
    </p><!-- /.entry-reading-time -->
      </div><!-- /.header-title-wrap -->
    </header>
    <div class="entry-content">
      {{ .Content }}
      <footer class="entry-meta">
          {{ if ne .Type "page" }}
        <span class="entry-tags">{{ range .Params.tags }}<a href="{{ "/tags/" | relURL }}#{{ . | urlize }}" title="Pages tagged {{ . | urlize }}" class="tag"><span class="term">{{ . | urlize }}</span></a>{{ end }}</span>
        {{ end }}
        {{ if gt .Lastmod .Date }}<span>Updated on <span class="entry-date date updated"><time datetime="{{ .Lastmod }}">{{ .Lastmod.Format "Jan 2, 2006" }}</time></span></span>
        <span class="author vcard"><span class="fn">{{ $.Site.Params.author.name }}</span></span>{{ end }}
      </footer>
    </div><!-- /.entry-content -->
  </article>
</div><!-- /#main -->
{{ partial "foot.html" . }}
